.page-header {
  text-align: center;
  padding: 1.5rem;
  background-color: lightblue;
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 20;
  border: 2px solid black;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
}

.post-card {
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  border-radius: 8px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', sans-serif;
  border-radius: 20;
}

.post-card button {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 0.4rem 1rem;
}
